services:
  backup:
    image: offen/docker-volume-backup:v2.47.0
    restart: always
    environment:
      BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_PRUNING_PREFIX: backup-
      BACKUP_RETENTION_DAYS: 7
      AWS_S3_BUCKET_NAME: docker-volume-backup
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_ENDPOINT: ${AWS_ENDPOINT}
      NOTIFICATION_URLS: ${NOTIFICATION_URLS}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
