services:
  rsshub:
    image: diygod/rsshub:chromium-bundled-2026-01-29
    restart: always
    ports:
      - "127.0.0.1:8002:1200"
    environment:
      NODE_ENV: production
      CACHE_TYPE: redis
      REDIS_URL: "redis://redis:6379/"
      ACCESS_KEY: "${ACCESS_KEY}"
      SENTRY: "${SENTRY}"
      TITLE_LENGTH_LIMIT: 200
      REQUEST_RETRY: 3
      REQUEST_TIMEOUT: 30000
      SENTRY_ROUTE_TIMEOUT: 10000
    env_file:
      - .auth.env
    depends_on:
      redis:
        condition: service_healthy
    labels:
      - docker-volume-backup.stop-during-backup=rsshub
    healthcheck:
      test: [ "CMD", "curl", "-sfI", "-o", "/dev/null", "http://127.0.0.1:1200/" ]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 60s

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis-data:/data
    labels:
      - docker-volume-backup.stop-during-backup=rsshub
      - docker-volume-backup.exec-label=rsshub
    healthcheck:
      test: [ "CMD", "redis-cli", "-e", "ping" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  backup:
    extends:
      file: ../docker-compose.backup.yaml
      service: backup
    environment:
      EXEC_LABEL: rsshub
      BACKUP_STOP_DURING_BACKUP_LABEL: rsshub
      AWS_S3_PATH: rsshub/
    volumes:
      - redis-data:/backup/redis-data:ro

volumes:
  redis-data:
