services:
  atuin:
    restart: always
    image: ghcr.io/atuinsh/atuin:18.11.0
    command: server start
    volumes:
      - config:/config
    ports:
      - 127.0.0.1:8007:8888
    environment:
      ATUIN_HOST: "0.0.0.0"
      ATUIN_OPEN_REGISTRATION: "false"
      ATUIN_DB_URI: postgres://atuin:$ATUIN_DB_PASSWORD@postgresql/atuin
      RUST_LOG: info
    labels:
      - docker-volume-backup.stop-during-backup=atuin
    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/8888' 2>/dev/null" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s
    depends_on:
      postgresql:
        condition: service_healthy
  postgresql:
    image: postgres:15.6
    restart: always
    volumes:
      - pgdb:/var/lib/postgresql/data/
      - dbdump:/tmp/dbdump
    environment:
      POSTGRES_USER: atuin
      POSTGRES_DB: atuin
      POSTGRES_PASSWORD: ${ATUIN_DB_PASSWORD}
    labels:
      - docker-volume-backup.archive-pre=pg_dump -U atuin -f /tmp/dbdump/atuin.sql
      - docker-volume-backup.exec-label=atuin
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-U", "atuin", "-d", "atuin" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
  backup:
    extends:
      file: ../docker-compose.backup.yaml
      service: backup
    environment:
      EXEC_LABEL: atuin
      BACKUP_STOP_CONTAINER_LABEL: atuin
      AWS_S3_PATH: atuin/
    volumes:
      - dbdump:/backup/dbdump:ro

volumes:
  config:
  pgdb:
  dbdump:
