services:
  freshrss:
    image: freshrss/freshrss:1.28.1
    restart: always
    ports:
      - "127.0.0.1:8001:80"
    volumes:
      - data:/var/www/FreshRSS/data
      - extensions:/var/www/FreshRSS/extensions
    environment:
      CRON_MIN: 1
      TZ: "Asia/Shanghai"
    labels:
      - docker-volume-backup.stop-during-backup=freshrss
    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/80' 2>/dev/null" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: freshrss
      POSTGRES_DB: freshrss
    volumes:
      - pgdb:/var/lib/postgresql/data
      - dbdump:/tmp/dbdump
    labels:
      - docker-volume-backup.archive-pre=pg_dump -U freshrss -f /tmp/dbdump/freshrss.sql
      - docker-volume-backup.exec-label=freshrss
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-U", "freshrss", "-d", "freshrss" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
  backup:
    extends:
      file: ../docker-compose.backup.yaml
      service: backup
    environment:
      EXEC_LABEL: freshrss
      BACKUP_STOP_DURING_BACKUP_LABEL: freshrss
      AWS_S3_PATH: freshrss/
    volumes:
      - data:/backup/data:ro
      - extensions:/backup/extensions:ro
      - dbdump:/backup/dbdump:ro

volumes:
  data:
  extensions:
  pgdb:
  dbdump:
