services:
  webscrapbook:
    build:
      context: .
      args:
        VERSION: "2.8.0"
    command:
      - --bind
      - 0.0.0.0:8080
      - --worker-class
      - gevent
      - --workers
      - "4"
      - --access-logfile
      - "-"
    restart: always
    ports:
      - "127.0.0.1:8004:8080"
    volumes:
      - ${DATA}:/app/main
      - ./config.ini:/app/.wsb/config.ini
    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'cat < /dev/null > /dev/tcp/127.0.0.1/8080' 2>/dev/null" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
